usermgmt/main/default/flows/Trigger_After_Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MakeHTTPCreateContactHubpost</name>
        <label>MakeHTTPCreateContactHubpost</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <actionName>MakeHTTPCall</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Delete_Contact_SF_If_Call_api_failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Body</name>
            <value>
                <elementReference>ReqBodyCreateContactHubPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Endpoint</name>
            <value>
                <stringValue>https://api.hubapi.com/crm/v3/objects/contacts</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Headers</name>
            <value>
                <stringValue>[{&quot;key&quot;:&quot;Authorization&quot;,&quot;value&quot;:&quot;Bearer pat-na1-1ff86da8-0379-4a7d-b0a0-0920339e92ed&quot;,&quot;order&quot;:0},{&quot;key&quot;:&quot;Content-Type&quot;,&quot;value&quot;:&quot;application/json&quot;,&quot;order&quot;:1}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MakeHTTPCall</nameSegment>
        <outputParameters>
            <assignToReference>BodyResp</assignToReference>
            <name>Body</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HeaderResp</assignToReference>
            <name>CollectionOfHeaders</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MessageErrorResp</assignToReference>
            <name>Error_message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>StatusResp</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CodeStatusResq</assignToReference>
            <name>Status_code</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>If_Success</name>
        <label>If Success</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Delete_SF_Contact_If_create_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Status_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CodeStatusResq</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <label>Status 200</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Trigger After Create Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trigger After Create Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Contact_SF_If_Call_api_failed</name>
        <label>Delete Contact SF If Call api failed</label>
        <locationX>770</locationX>
        <locationY>384</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_SF_Contact_If_create_failed</name>
        <label>Delete SF Contact If create failed</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>MakeHTTPCreateContactHubpost</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReqBodyCreateContactHubPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
    &quot;properties&quot;: {
      &quot;company&quot;: &quot;{!$Record.Department}&quot;,
      &quot;email&quot;: &quot;{!$Record.Email}&quot;,
      &quot;firstname&quot;: &quot;{!$Record.FirstName}&quot;,
      &quot;lastname&quot;: &quot;{!$Record.LastName}&quot;,
      &quot;phone&quot;: &quot;(877) 929-0687&quot;,
      &quot;website&quot;: &quot;biglytics.net&quot;
    }
  }</text>
    </textTemplates>
    <variables>
        <name>BodyResp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CodeStatusResq</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HeaderResp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageErrorResp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusResp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
